@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.project{
    width: 100%;

        min-height: 100vh;
        padding-top: 2rem;
    padding-bottom: 5rem;

    &__section{
        color:$primary-white;
            @include mobile-section-header;
            text-align: center;
            margin-bottom: 3rem;
    }
}


@include tablet{

    .project{
        &__section{
            @include tablet-desktop-title-normal;
        }
    }

    // .masonry{
    //     &__layout{
    //     gap: 3.5rem;
    //     }
    //     &__item{
    //         height: clamp(22rem, 60vw, 30rem);
    //     }
    // }
}

@include desktop{
    
}