$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$desktop-breakpoint-xxl: 96rem;
$desktop-breakpoint-ultra:160rem;

$primary-black: #000000;
$primary-white: #fff;
$card-shadow: #ccc;

$secondary-grey: #656060;
$secondary-black: #2b2929;
// $third-grey:#777777;
$third-grey:#ccc6c6;
$links-blue:blue;
$dark-blue: rgb(2, 2, 24);