$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$desktop-breakpoint-xxl: 96rem;
$desktop-breakpoint-ultra:160rem;

$primary-black: #000000;
$primary-white: #fff;
$card-shadow: #ccc;

$secondary-grey: #656060;