@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pro {
  &__details {
    background-color:$dark-blue;
  }

  &__title {
    color: $primary-white;
    padding-top: 8rem;
    text-align: center;
    @include mobile-page-header;
  }
  &__subtitle {
    @include mobile-subheader-header;
    font-weight: 400;
    text-align: center;
    color: $third-grey;
    margin: 0.5rem 1rem;
  }

  &__img {
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
  }
}
.galaxy{
    position: relative;
    z-index:1;
}
.galaxy-particles{
    position: absolute; z-index: 0;
}
.back-icon{
    position: absolute;
    cursor: pointer;
    margin: 1rem;
}

.back-icon:active{
transform: scale(.9);
}
.btn-section {
  @include flex(column, center, center);
  gap: 0.5rem;
}
.button {
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;

  text-decoration: none;
  transition: transform 0.3s ease-in-out;

  &-dive {
    color: $primary-white;
    background-color: $secondary-black;
  }
  &-dive:hover {
    background-color: $card-shadow;
    color: $secondary-black;
  }
  &-demo {
    color: $secondary-black;
    background-color: $card-shadow;
  }
  &-demo:hover {
    color: $primary-white;
    background-color: $secondary-black;
  }
}
.button:hover {
  transform: scale3d(1.0625, 1.0625, 1.0625);
}


@include tablet{
.back-img{
  width: 4rem; 
  height: 4rem;
}
  .pro{
    &__title{
@include tablet-desktop-title-normal;
margin-bottom: 1rem;
  }

&__subtitle{
  @include tablet-desktop-heading-medium
}
}
.btn-section{
  @include flex(row, center, center);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;

}
.button{
  padding: .6rem 2rem;
  border-radius: 1.5rem;
  @include tablet-desktop-body-copy-medium;
}

.pro__img{
  width: calc(100% - 10rem);
  margin: 5rem;
}
}

@include desktop{
.back-img{
  width: 5rem;
  height: 5rem;
}


}

@include desktop-xxl{
   .pro__img{
    width: calc(100% - 20rem);
    margin: 5rem 10rem;
   }
}