// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mixins-news" as *;
@use "../../styles/partials/variables" as *;

.app__container {
   position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $background-color;
  background-size: cover;
  overflow-x: hidden;
}
