@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins-news" as *;

.contact__social {
  margin: 1rem auto;
  margin-top: 0;
  width: 100%;
  padding: 1rem;

  padding-inline: unset;
  @include flex(row, center, center);
  gap: 0.5rem;
  &-container {
    @include flex(column, center, center);
    flex: 1;
    min-width: 0;
    border: solid 0.5px rgba(255, 255, 255, 0.2);
    border-radius: 0.7rem;
    background-color: rgba($primary-green, 0.05);

    &:hover {
      border-color: rgba($primary-green, 0.5);
      .contact__social-icon {
        color: $primary-green;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: $secondary-grey;
    @include mobile-body-copy;
    width: 100%;
    min-width: 0;
  }
  &-icon {
    color: $secondary-grey;
    @include flex(inline-flex, center, center);

    width: 18px;
    height: 18px;
    margin: 0.5rem auto;
    margin-bottom: 0;
  }

  &-text {
    @include flex(column, center, center);
    min-width: 0;
  }
  &-textname {
    @include mobile-body-copy;
    font-size: 0.75rem;
    color: $card-shadow;
  }
  &-texturl {
    color: $secondary-grey;
    @include mobile-footer-copy;
    max-width: 80%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

@include desktop {
  .contact {
    &__social {
      // width: clamp(15.5rem, 90%, 25rem);
              // width: clamp(20rem, 90%, 34rem);
              width: 100%;
      margin: unset;
      padding-inline: unset;
    }
  }
}


@include desktop-xxl{
  .contact {
    &__social {
      // width: clamp(16rem, 90%, 60rem);
        width: clamp(40rem, 90%, 45rem);
      margin: unset;
      padding-inline: unset;
    }}
}