@use "../../styles/partials/mixins" as *;
.list {
  // position: relative;
  position:fixed;

  @include flex(column, center, center);
  width: 100%;
  text-align: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
// height: 1rem;
  top: 50%;
    // background-color: rgb(119, 119, 230);
  // height: 100vh;
  left: 0;
  top: 1rem;
}

