@use "../../styles/partials/mixins" as *;
.list {
  // position: relative;
  position:absolute;

  @include flex(column, center, center);
  width: 100%;
  text-align: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
z-index : 999;
position: fixed;

  top: 0;
  // background-color: rgba(199, 219, 156, 0.5);

  height: 100vh;
  left: 0;

}


.list::before{
  // content: "";
  // position:absolute;
  // inset: 0;
  // background-image: url("../../assets/images/background.jpg");
  // background-size: cover;
  // background-position: center;
  // // filter: blur(.5rem);
  // opacity: .8;
  // z-index: -5;
}