@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.techstack {
  margin: auto 1rem;
}
.stack__title {
  color: aliceblue;
  margin: 1rem;
}
.title {
  color: white;
  font-size: 0.75rem;
}

.hive {
  @include flex(row, center, center);
  flex-wrap: wrap;
  max-width: 100%;
  width: clamp(245px, 60vw, 1280px);
  gap: 0;
  margin: 0 auto;
}

.hex:nth-child(even) {
  margin-left: clamp(0.09rem, 15vw, 0.25rem);
}
.hex:nth-child(even):hover {
  transform: scale(1.05) translateY(-4px);
  background: linear-gradient(
    82deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.35)
  );
  box-shadow: inset 40px -20px 50px rgba(126, 123, 123, 0.5),
    80px -65px 10px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.25);
}
.hex:nth-child(odd):hover {
  transform: scale(1.05) translateY(-4px);
  background: linear-gradient(
    289deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.35)
  );
  box-shadow: inset -40px 50px 39px rgba(126, 123, 123, 0.5),
    10px 13px 12px rgba(0, 0, 0, 0.4), 15px 68px 15px rgba(0, 0, 0, 0.25);
}
.hex {
  width: clamp(4.5rem, 15vw, 8.5rem);
  height: clamp(4.5rem, 15vw, 8.5rem);
  transform: scale(0.9);
  aspect-ratio: 1.15;

  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: white;
  box-shadow: 1rem;
  background: linear-gradient(
    145deg,
    rgba(240, 235, 235, 0.12),
    rgba(95, 86, 86, 0.2)
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4),
    0 4px 6px rgba(180, 169, 169, 0.3), 0 6px 12px rgba(201, 196, 196, 0.2);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  &-logo {
    width: clamp(2rem, 8vw, 2.5rem);
    height: clamp(2rem, 8vw, 2.5rem);
  }
  &-title {
    font-size: clamp(0.55rem, 2vw, 0.9rem);
  }
}

@include tablet {
  .hex {
    &-logo {
      width: 3rem;
      height: 3rem;
    }
  }
}

@include desktop {
  .hex {
    &-logo {
      width: 3rem;
      height: 3rem;
    }
    &-title {
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
  }
}

@include desktop-xxl {
  .hex {
    width: clamp(8.5rem, 15vw, 12.5rem);
    height: clamp(8.5rem, 15vw, 12.5rem);
    &-logo {
      width: 5rem;
      height: 5rem;
    }
    &-title {
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
  }
}

@include desktop-ultra {
  .hex {
    &-logo {
      width: 5rem;
      height: 5rem;
    }
    &-title {
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
  }
}
