@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.techstack {
  // background: rgba(255, 255, 255, 0.2);
  // border-radius: 1rem;
  // box-shadow: 0 8px 32px 0 rgba(17, 30, 214, 0.8);
  // -webkit-backdrop-filter: blur(0.5rem);
  // backdrop-filter: blur(0.5rem);
  // //   padding: 0.125rem;
  // //   padding: 1rem;
  // height: 4rem;
  // width: 4rem;
  // text-align: center;
  // //   margin: auto;
  // padding-top: 0.25rem;
  // margin-bottom: 0.5rem;
  margin: auto 1rem;
}
.stack__title{
  color: aliceblue;
  margin:1rem;
}
.title {
  color: white;
  font-size: 0.75rem;
}
.icon-wrapper {
  //   background: linear-gradient(145deg, #fdfdfd22, #ecdcdc22);
  //   box-shadow: 6px 6px 15px rgba(36, 35, 35, 0.4);
  //   padding: 1rem;
  //   border-radius: 1rem;
  //   transition: transform 0.3s ease;
}
// .techstack:hover {
//   transform: scale(1.05) rotateX(3deg) rotateY(3deg);
// }

.hive {
  @include flex(row, center, center);
  flex-wrap: wrap;
  max-width:100%;
//  width: clamp(245px , 20rem, 800px);
width: clamp(245px, 60vw, 1280px);
// width: clamp(245px, calc(60vw + 1rem), 800px);
  // gap: 1rem;
  gap: 0;
  margin: 0 auto;
}

.hex:nth-child(even){
  margin-left:clamp(.09rem , 15vw, 0.25rem);
}
.hex:nth-child(even):hover{
  transform: scale(1.05) translateY(-4px);
  background: linear-gradient(82deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.35));
  box-shadow:
  inset 40px -20px 50px rgba(126, 123, 123, 0.5),
  80px -65px 10px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.25)
  // background-color: red;

}
.hex:nth-child(odd):hover {
  // margin-right: 0.46rem;
  // background-color: rgb(39, 59, 146);
  transform: scale(1.05) translateY(-4px);
  background: linear-gradient(289deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.35));
  box-shadow:
    // inset -83px 40px 11px rgba(126, 123, 123, 0.5),
    // 30px 6px 10px rgba(0, 0, 0, 0.4),
    // 0 10px 20px rgba(0, 0, 0, 0.25); 
    inset -40px 50px 39px rgba(126, 123, 123, 0.5),
    10px 13px 12px rgba(0, 0, 0, 0.4), 15px 68px 15px rgba(0, 0, 0, 0.25)
}
.hex {
  // width:4.5rem;
  // height:4.5rem;
  width: clamp(4.5rem, 15vw, 8.5rem);
  height: clamp(4.5rem, 15vw, 8.5rem);
  transform: scale(0.9);
  aspect-ratio: 1.15;
  // background: rgba(255, 255, 255, 0.1);
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  // backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: white;
  box-shadow: 1rem;
  background: linear-gradient(145deg, rgba(240, 235, 235, 0.12), rgba(95, 86, 86, 0.2));
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.4),
    0 4px 6px rgba(180, 169, 169, 0.3),
    0 6px 12px rgba(201, 196, 196, 0.2);
  backdrop-filter: blur(1rem);
//   transform: translateY(-5px);
  &-logo {
    // width: 2rem;
    // height: 2rem;
    width: clamp(2rem,8vw, 2.5rem);
  height: clamp(2rem, 8vw, 2.5rem);
  }
  &-title {
    // font-size: 0.55rem;
    font-size: clamp(.55rem , 2vw, .9rem);
  }
  // &:hover {
  //   transform: scale(1.05);
  //   background: rgba(255, 255, 255, 0.2);
  // }
  // &:hover {
  //   transform: scale(1.05) translateY(-4px);
  //   background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.35));
  //   box-shadow:
  //     inset 0 31px 11px rgba(126, 123, 123, 0.5),
  //     0 6px 10px rgba(0, 0, 0, 0.4),
  //     0 10px 20px rgba(0, 0, 0, 0.25);
  // }
}

@include tablet{

// .hive{
// width: 100%;
// }
.hex{
  &-logo{
    width: 3rem;
    height: 3rem;
  }
}

}

@include desktop{
   .hex{
    &-logo{
      width: 3rem;
      height: 3rem;
    }
    &-title{
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
   }
}

@include desktop-xxl{
  .hex{
    width: clamp(8.5rem, 15vw, 12.5rem);
    height: clamp(8.5rem, 15vw, 12.5rem);
    &-logo{
      width: 5rem;
      height: 5rem;
    }
    &-title{
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
  }
}

@include desktop-ultra{
  .hex{
    &-logo{
      width: 5rem;
      height: 5rem;
    }
    &-title{
      margin-top: 1rem;
      @include tablet-desktop-label-medium;
    }
  }
}