@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.techstack {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(17, 30, 214, 0.8);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  //   padding: 0.125rem;
  //   padding: 1rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  //   margin: auto;
  padding-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.title {
  color: white;
  font-size: 0.75rem;
}
.icon-wrapper {
  //   background: linear-gradient(145deg, #fdfdfd22, #ecdcdc22);
  //   box-shadow: 6px 6px 15px rgba(36, 35, 35, 0.4);
  //   padding: 1rem;
  //   border-radius: 1rem;
  //   transition: transform 0.3s ease;
}
.techstack:hover {
  transform: scale(1.05) rotateX(3deg) rotateY(3deg);
}

.hive {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

.hex {
  width: 100px;
  transform: scale(0.7);
  aspect-ratio: 1.15;
  background: rgba(255, 255, 255, 0.1);
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: white;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    font-size: 0.7rem;
  }
  &:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
  }
}
