@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.contact{
    height: 30rem;
&__text{
      @include mobile-section-header;
        color:$primary-white ;
        text-align: center;
}
}