@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
  // height: 100%;
  min-height: 100dvh;
  margin-top: 5rem;
 &__feature {
    @include flex(row, center, center);
    margin: 0 auto;
    margin-bottom: 2rem;;
    background: rgb($card-color, .8);
    border-radius: 2rem;
    width: fit-content;

    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: rgba($card-color, 0.1);
    border: 1px solid $primary-green;
    &-icon {
      width: 1rem;
      height: 1rem;
      color: $primary-green;
      animation: bounce 2s infinite;
    }

    &-title {
      color: $primary-green;
      @include mobile-subheader-header;
      margin-bottom: 0;
      text-transform: uppercase;
      }}
  
  &__text {
    @include mobile-section-header;
    color: $primary-white;
    text-align: center;
    margin-bottom: 1rem;
    &-subtitle{
      color: $secondary-grey;
      @include mobile-subheader-header;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 3rem;

    }
  }
  &__wrapper {
    background-size: cover;
  }

  &__earth {
    width: 100%;
    height: 50vh;
  }
  &__button {
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
    background: linear-gradient(to right, #10b981, #22c55e);
    cursor: pointer;
    @include mobile-body-copy;
    color: $primary-white;
    transition: transform 0.3s ease-in-out;
  }

  &__button:hover {
    background: linear-gradient(to right, #22c55e, #10b981);
    transform: scale3d(1.0625, 1.0625, 1.0625);
  }

  &__form {
    min-height: 55vh;
    background-color: rgba($card-color, 0.05);
    color: $primary-white;
    @include mobile-body-copy;
    @include flex(column, center, center);
    margin: 2rem 1rem;
    row-gap: 1.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
    border: 0.0625rem solid rgba($card-color, 0.1);
    width: 100%;
    &-title {
      @include mobile-subheader-header;
      font-size: 1.5rem;
    }
    &-property {
      @include flex(column, flex-start, flex-start);
      row-gap: 0.5rem;
    }
    &-property input,
    textarea {
      text-align: left;
      border-radius: 1rem;
      padding: 1rem;
      background-color: hsla(0, 0%, 7%, 0.2);
      color: $primary-white;
      width: 15rem;
    }
    &-property textarea {
      padding: 4rem 2rem;
    }
  }
}

.error__state {
  color: $error;
  @include flex(row, center, center);
  font-size: 0.7rem;
}

@include tablet {
  .contact {
    margin-top: 8rem;

    &__wrapper {
      @include flex(column, center, center);
    }
    &__text {
      @include tablet-desktop-title-normal;
      margin-bottom: 8rem;
    }

    &__earth {
      @include flex(row, center, center);
      width: 100%;
      height: 100vh;
      max-width: 40rem;
      margin: auto;
    }
    &__form-title {
      font-size: 3.5rem;
    }
    &__form {
      @include tablet-desktop-body-copy-medium;
      width: calc(100vw - 16rem);
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin-top: 5rem;
      &-property input,
      textarea {
        width: 25rem;
      }
  

      &-property {
        row-gap: 1.5rem;
      }
    }
    &__button {
      padding: 1.25rem 3rem;
      font-size: 1.5rem;
    }
  }
  .contact__form-input::placeholder {
    font-size: 0.95rem;
    text-align: left;
    width: 100%;
  }
}

@include desktop {
  .contact {
    &__form {
      max-width: 55rem;
      margin-left: 5rem;
    }
    &__text {
      margin-top: 15rem;
      margin-bottom: 13rem;
    }
    &__wrapper {
      @include flex(row-reverse, center, center);
    }
  }
}

@include desktop-xxl {
  .contact {
    &__form {
      max-width: 45rem;
    }
    &__wrapper {
      padding-left: 6rem;
    }
  }
}

@include desktop-ultra {
  .contact {
    &__form {
      max-width: 60rem;
    }
  }
}
