@use "../../styles/partials/mixins" as *;

.body__container{
  background-color:  rgba(98, 96, 100, 0.7);
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;

}
.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  width: 31.25rem;
  max-width: 100%;
  height: 25rem;
  // background-color: var(--accent);
  border-radius: 1.25rem;
  overflow: hidden;
}
.logo {

    width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 50%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;

  z-index: 999;
}
.menu-icon path{
   stroke: #e6d8d5;
  fill: none; 
}
.nav-bar {
  @include flex(row, center, center);
  height: 5rem;
}

.background {
  background-color:rgba(43, 41, 44, 0.9);
  // position: absolute;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.toggle-container {
  outline: none;
  border: none;

  cursor: pointer;
  right: 1rem;
  position: absolute;
  top: 1.125rem;
  // right: 14.125rem;
  // left: 15rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: transparent;
    position: fixed;
  z-index: 999;
}

.list {
  position: relative;
  @include flex(column, center, center);
  width: 100%;
  text-align: center;
  padding-left: 0;
  list-style: none;
  margin: 0;

  top: 50%;

  height: 100vh;

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.25rem;
    cursor: pointer;
  }
}

.icon-placeholder {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  flex: 2.5rem 0;
  margin-right: 1.25rem;
}


.nav_div{
   background-color: red;
}

@include tablet {
.nav-bar{
  height: 8rem;
}
}

@include desktop{

  .nav-bar{
  height: 12rem;
}
}