@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.tech {
  &__title{
    text-align: center;
    @include mobile-section-header;
    color: $primary-white;
  }

  &__section{

 
  height: 100vh;
  background-color: rgba(28, 27, 29, 0.7); }
}


@include tablet {
 .tech {
  &__title{

  }
}}