@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.masonry__layout {
  column-count: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
}

.masonry__item {
  position: relative;
  @include flex(column, flex-start, center);
  flex-grow: 1;
  min-width: 8rem;
  width: auto;
  break-inside: avoid;
  box-sizing: border-box;
  height: clamp(22rem, 60vw, 28rem);
  width: clamp(25rem , 100vw, 25rem);
  margin: 1rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(10px);
  background: rgb(33 27 80 / 45%);
  border: 1px solid rgba(31, 11, 11, 0.2);
  color: $primary-white;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}
.img__project {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
}

.masonry__item:hover {
  background: rgb(33 27 80 / 25%);
}
article:hover {
  background: rgb(33 27 80 / 25%);
}
.masonry__item:hover .project__img {
  top: -10rem;
  transform: scale3d(1.5px, 1.5px, 1.5px);
}

.project__img {
  width: 100%;

  object-fit: contain;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;

  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding: 1rem;
  padding-bottom: 4rem;

  transition: top 0.5s ease-in-out;
}
.project__img:hover {
}
.project__title {
  position: absolute;
  @include mobile-section-header;
  text-transform: uppercase;
  color: $primary-white;
  bottom: 0.35rem;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  margin: 3rem 0;
}

.masonry__item:hover .project__title {
  transform: translateY(3rem);
  opacity: 0;
}
.project__concept {
  @include mobile-body-copy;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.2875rem;
  position: absolute;
  bottom: 8rem;
  color: $primary-white;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  text-align: center;
  background-color: rgb(9 9 9 / 35%);
}
.github-icon {
  color: $primary-white;
  transition: color 0.3s ease;
}
.project__link:hover .github-icon {
  color: $primary-black;
}
.masonry__item:hover .project__concept {
  transform: translateY(5.5rem);
  opacity: 1;
}

.stack{
@include mobile-footer-copy;
&__list{
   
@include flex(row, center, center);

 
    flex-wrap: wrap;
padding-left: 0;;
    width: 100%;
    list-style: none;
    gap: .25rem;
}
&__item:nth-child(1), &__item:nth-child(4),&__item:nth-child(7){
  color:  #3580f1;
  
}
&__item:nth-child(2), &__item:nth-child(5){
  color:  #338a11;
  
}
&__item:nth-child(3), &__item:nth-child(6), &__item:nth-child(8){
  color: rgb(209, 19, 146);
}
}
@include tablet {
  .project{
    &__title {
    @include tablet-desktop-heading-medium;
        margin: 7.5rem 0;
  }

&__concept{
  @include tablet-desktop-body-copy-medium;

}}
  .masonry__layout {
    column-count: 2;
    margin: 5rem;
    margin-top: 10rem;
  }
  .stack{
    &__list{
      @include tablet-desktop-label-medium ;
    }
  }
  .masonry__item{
    padding: 1rem;
        height: clamp(22rem, 60vw, 33rem);
                width: clamp(22rem, 100vw, 31rem)
        // background-color:  rgba(93, 98, 177, 0.25); 
  }
  
  .card__border {
  background: linear-gradient(135deg, #60a5fa, #a78bfa, #f472b6);
  padding: .1px; // This controls the border thickness
  border-radius: 20px;
}
.img__project {
  position: relative;
  width: 100%;
  height: 100%;
  @include flex(row, center, center);
}

}

@include desktop {
  .img__project {
  position: relative;
  max-width: fit-content;
  max-height:fit-content;
  @include flex(row, center, center);
}
  .masonry__layout {
    column-count: 3;
    margin-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;

  }
  .project{
    &__img {
    width: clamp(22rem, 60vw, 38rem);
    height: clamp(22rem, 60vw, 25rem);
max-width: 100%;
position: relative;
  }

&__concept{
  bottom: 12rem;
}}
  .masonry__item {
    margin-bottom: 5rem;
           height: clamp(22rem, 60vw, 38rem);
            width:  clamp(30rem, 60vw, 31.5rem);
                    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    
  }
  .stack{
    margin-top: 2rem;
  }
}
