@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.masonry__layout {
  column-count: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
}

.masonry__item {
  position: relative;
  @include flex(column, flex-start, center);
  flex-grow: 1;
  min-width: 8rem;
  width: auto;
  break-inside: avoid;
  box-sizing: border-box;
  height: clamp(17rem, 60vw, 23rem);
  margin: 1rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(31, 11, 11, 0.2);
  color: $primary-white;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}
.img__project {
  position: relative;
  width: 100%;
  height: 100%;
}

.masonry__item:hover {
  background: hsla(0, 1%, 34%, 0.2);
}
.masonry__item:hover .project__img {
  top: -10rem;
}

.project__img {
  width: 100%;

  object-fit: contain;
  top: 0;
  left: 0;
  height: 100%;
  height: 100%;
  position: absolute;

  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding: 1rem;
  padding-bottom: 4rem;

  transition: top 0.5s ease-in-out;
}
.project__img:hover {
}
.project__title {
  position: absolute;
  @include mobile-section-header;
  text-transform: uppercase;
  color: $primary-white;
  bottom: 0.35rem;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.masonry__item:hover .project__title {
  transform: translateY(3rem);
  opacity: 0;
}
.project__concept {
  @include mobile-body-copy;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.2875rem;
  position: absolute;
  bottom: 6.5rem;
  color: $primary-white;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  text-align: center;
  background-color: rgb(9 9 9 / 35%);
}
.github-icon {
  color: $primary-white;
  transition: color 0.3s ease;
}
.project__link:hover .github-icon {
  color: $primary-black;
}
.masonry__item:hover .project__concept {
  transform: translateY(5.5rem);
  opacity: 1;
}
@include tablet {
  .project__title {
    @include tablet-desktop-heading-medium;
  }
  .masonry__layout {
    column-count: 2;

    margin: 1.5rem;
    margin-top: 10rem;
  }
}

@include desktop {
  .masonry__layout {
    column-count: 3;
    margin-top: 10rem;
  }
  .project__img {
    width: 100%;
    height: 100%;
  }
  .masonry__item {
    margin-bottom: 5rem;
  }
}
