@use "../../styles/partials/mixins" as *;
.footer_icon {
  width: 2rem;
  height: 2rem;
}

@include tablet {
  .footer_icon {
    width: 3rem;
    height: 3rem;
  }
}

@include desktop {
  .footer_icon {
    width: 5rem;
    height: 5rem;
  }
}
