@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.footer {
  margin: 3rem 1rem;
  margin-bottom: 0;
  border-top-style: outset;
  border-width: 0.1rem;
  margin-top: 10rem;
  border-color: $third-grey;
  &__logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 999;
    margin: 3rem 0;
  }
  &_icon {
    width: 2rem;
    height: 2rem;
  }
  &__list {
    list-style: none;
    padding-bottom: 2rem;
    &-links {
      text-decoration: none;
      color: $third-grey;
      padding-left: 0;
      cursor: pointer;
    }
    &-links:hover {
      color: $primary-white;
    }
  }
  &__title {
    color: $primary-white;
  }
}
li > ul {
  padding-left: 0;
}
li > a {
  text-decoration: none;
}

.portfolio,
.projects,
.connect {
  height: fit-content;
}

.copy-right {
  @include mobile-footer-copy;
  color: $third-grey;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
@include tablet {
  .footer {
    @include flex(row, space-between, flex-start);
    margin: 0 3rem;
    margin-top: 5rem;
    padding: 3rem;
    &_icon {
      margin-top: 0;
      width: 3rem;
      height: 3rem;
    }
    &__list-links {
      @include tablet-desktop-body-copy-light;
    }

    &__section {
      @include flex(row, flex-end, flex-end);
      gap: 3rem;
    }
  }
  ul {
    font-size: 0rem;
  }
}

@include desktop {
  .footer_icon {
    width: 5rem;
    height: 5rem;
  }
}


@include desktop-xxl{

  .footer{
    &__list-links {
      @include tablet-desktop-body-copy-medium;
    }
  }

  .copy-right{
    @include tablet-desktop-body-copy-light;
  }
}

@include desktop-ultra{
  .footer{
    &__list-links {
      @include tablet-desktop-body-copy-medium;
    } 
  }
}