@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.about {margin: 1rem;
  margin-bottom: 5rem;
      text-align: center;
      color: $primary-white;
      margin-top: 10rem;
        &__title{
    @include mobile-page-header;


  }
  &__text {
    @include mobile-section-header;

  }

    &__para{
    @include mobile-body-copy;
  }
}

.headshot{
  position: relative;
    display: flex
;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__img{
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
}