@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.about {margin: 1rem;
  margin-bottom: 5rem;
      text-align: center;
      color: $primary-white;
      margin-top: 10rem;
        &__title{
    @include mobile-page-header;
font-weight: 400;

  }
  &__text {
    @include mobile-subheader-header;

  }

    &__para{
    @include mobile-body-copy;
  }
}

.headshot{
  position: relative;
  @include flex(row, center, center);

    width: 100%;

    &__img{
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
    @include tablet {
.about{
  &__title{
    @include tablet-desktop-wordmark-regular;
  }

  &__text{
    @include tablet-desktop-body-copy-medium;
  }
  &__para{
    @include tablet-desktop-body-copy-light;
  }
}
    }

    @include desktop{


      .about{
        margin-left: 5rem;
        margin-right: 5rem;
  &__title{
    @include tablet-desktop-title-italic ;
  }

&__text{
  @include tablet-desktop-title-normal;
}
&__para{
  @include tablet-desktop-body-copy-medium;
}
}
.headshot__img{
  width: 7.5rem;
  height: 7.5rem;
}

    }