// @use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mixins-news" as *;
@use "../../styles/partials/variables" as *;
.about {
  margin-bottom: 5rem;
  text-align: center;
  color: $primary-white;
  padding-top: 7rem;
  position: relative;
  &-badge {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #34d399 0%, #059669 50%, #106f1d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    background-color: rgba(26, 32, 30, 0.1);
    border: 1px solid $primary-green;
    margin-bottom: 2rem;
    &::after {
      content: "";
      position: absolute;
      top: 1rem;
      right: 4rem;
      width: 10px;
      height: 10px;

      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid rgba(230, 21, 178, 0.1);
    }

    &__dot {
      position: relative;
      display: flex;
      width: 0.5rem;
      height: 0.5rem;
    }

    &__ping {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 9999px;
      background-color: $primary-green;
      opacity: 0.75;
      animation: ping 1.5s infinite;
    }

    &__circle {
      position: relative;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 9999px;
      background-color: $primary-green;
    }
  }
  &__title {
    @include mobile-page-header;
  }
  &__text {
    @include mobile-subheader-header;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: $primary-green;
  }

  &__para {
    @include mobile-body-copy;
    color: $third-grey;
    opacity: 0.8;
    padding: 0 1rem;
  }
  &__icon {
    @include flex(row, space-evenly, center);
    padding-bottom: 2rem;
  }
  &__last-name {
    font-family: "Syne", sans-serif;
    background: linear-gradient(135deg, #37ad16 0%, #095d42 50%, #57c122 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

    &__last-name {
      margin-bottom: 0;
      width: auto;
    }
  }
}
.header {
  &_links {
    @include flex(row, center, center);
    gap: 0.3rem;
    text-decoration: none;
  }
  &_icon {
    color: $secondary-grey;
    width: 1rem;
    height: 1rem;
    @include flex(row, center, center);
    transition: all 0.3s ease;
    &:hover {
      color: $primary-green;
    }
  }

  &__text {
    @include mobile-subheader-header;

    color: $secondary-grey;
  }
}
.grid-bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.15;
  background-color: rgba(74, 114, 69, 0.45);
  background-image:
    linear-gradient(rgba(234, 230, 231, 0.35) 1px, transparent 1px),
    linear-gradient(90deg, rgba(218, 208, 206, 0.15) 1px, transparent 1px);
  background-size: 60px 60px;

  width: 100%;
  height: 100%;
}
.headshot {
  position: relative;
  margin-bottom: 1rem;
  @include flex(row, center, center);

  width: 100%;

  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;

  &__primary {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.75rem;
    border-radius: 0.75rem;
    overflow: hidden;

    color: $primary-white;
    text-decoration: none;

    // background gradient layer
    .cta__bg {
      position: absolute;
      inset: 0;
      background: linear-gradient(to right, #059669, #16a34a);
      transition: all 0.3s ease;
    }
    &:hover {
      .cta__bg {
        background: linear-gradient(to right, #10b981, #22c55e);
      }

      cursor: pointer;
      .cta__glow {
        opacity: 1;
      }
    }
  }
  .cta__glow {
    inset: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: inset 0 0 20px rgba(52, 211, 153, 0.3);
  }

  // content above layers
  .cta__icon,
  .cta__text {
    position: relative;
    z-index: 1;
  }

  .cta__icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
  }

  &__secondary {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.75rem;
    border-radius: 0.75rem;

    border: 1px solid rgba(255, 255, 255, 0.1);
    color: $primary-white;
    text-decoration: none;

    transition: all 0.3s ease;

    .cta__icon {
      width: 1.5rem;
      height: 1.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      color: $primary-white;
      border-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.05);
      cursor: pointer;
    }
  }
}
@include tablet {
  .about {
    &__title {
      @include tablet-desktop-wordmark-regular;
    }

    &__text {
      margin-top: 1rem;
      @include tablet-desktop-heading-medium;
    }
    &__para {
      @include tablet-desktop-body-copy-medium;
      margin: 1.5rem 3rem;
    }

    &__last-name {
      margin-bottom: 0;
      width: auto;
    }
  }
  .cta {
    @include flex(row, center, center);
    gap: 2rem;
  }

  .header {
    &__text {
      @include tablet-desktop-body-copy-medium;
    }
    &_icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

@include desktop {
  .about {
    margin-left: 5rem;
    margin-right: 5rem;
    &__last-name {
      padding: 0 5px;
    }

    &__text {
      @include tablet-desktop-heading-medium;
      margin-top: 0;
      margin-bottom: 2rem;
    }
    &__para {
      @include tablet-desktop-body-copy-medium;
    }
  }
  .headshot__img {
    width: 7.5rem;
    height: 7.5rem;
  }

  .header_icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  .desktop-link {
    width: 100px;
  }
  .about {
    &__last-name {
      margin-bottom: 0;
      width: auto;
    }
  }
}

@include desktop-xxl {
  .header_icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  .about__para {
    @include tablet-desktop-wordmark-regular;
  }

  .desktop-link {
    font-size: 2rem;
  }
}

@include desktop-ultra {
  .header_icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
